{% extends 'base.html' %}

{% block background %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4 text-soft-cream">Edit Review</h1>
            <form method="post" class="p-4 bg-soft-cream rounded border border-slate-gray">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success w-100 mb-2">Save</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary w-100">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
