{% extends 'base.html' %}

{% block background %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4 text-soft-cream">Register</h2>
            <form method="post" class="p-4 bg-soft-cream rounded border border-slate-gray">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
            <p class="text-center mt-3 text-soft-cream">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}
