{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Gallery</h1>
    <div class="gallery-container">
        <div class="gallery-slideshow">
            {% for image in images %}
                <div class="slide">
                    <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid rounded">
                    <div class="description p-3 bg-soft-cream">
                        <p>{{ image.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="controls">
            <button class="prev btn btn-light">❮</button>
            <button class="next btn btn-light">❯</button>
        </div>
    </div>
</div>

<div class="full-width-section">
    <h2 class="text-center my-4">Reviews</h2>
    <div class="reviews-box d-flex overflow-auto">
        {% for review in reviews %}
            <div class="review-card p-3 m-2 bg-soft-cream rounded border border-slate-gray">
                <h3 class="text-center">{{ review.author.username }}</h3>
                <hr>
                <p>Rating: {{ review.get_rating_display }}</p>
                <p>{{ review.content }}</p>
                <small>{{ review.created_on }}</small>
            </div>
        {% endfor %}
    </div>
</div>
{% if user.is_authenticated %}
    <div class="review-form mt-4 mx-auto" style="width: 40%;">
        <h3>Leave a Review</h3>
        <form method="post" class="p-4 bg-soft-cream rounded border border-slate-gray">
            {% csrf_token %}
            <div class="form-group">
                {{ review_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit Review</button>
        </form>
    </div>
{% else %}
    <h3 class="text-center">You need to <a class="custom-link" href="{% url 'login' %}">log in</a> to leave a review.</h3>
{% endif %}
<div id="feedback-message" class="alert alert-success" role="alert" style="display: none;">
    Thank you for your feedback, we value it immensely.
</div>

{% endblock %}