{% extends 'base.html' %}

{% block content %}
<!-- Hero Section -->
<div class="hero-image">
    <div class="hero-text">
        <h1 class="display-3">MK Wood Design</h1>
    </div>
</div>

<!-- About Section -->
<!-- About Section -->
<div class="about-section mt-5">
    <h2 class="text-center mb-4">About</h2>
    <div class="row mx-0">
        {% for about in about_list %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="col-12 mb-4">
                    <div class="about-block about-block-left mx-auto">
                        <h5 class="about-title">{{ about.title }}</h5>
                        <p>{{ about.content }}</p>
                    </div>
                </div>
            {% else %}
                <div class="col-12 mb-4">
                    <div class="about-block about-block-right mx-auto">
                        <h5 class="about-title">{{ about.title }}</h5>
                        <p>{{ about.content }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
